<div class="container">
  <h1>Administration Panel</h1>
  <p>Here is where you will be able to manage all website settings!</p>
  <hr>
  <div class="row justify-content-center">
    <div class="col-lg-2 adminnavbutton">
      <p><a href="/admin/settings" class="btn btn-theme">Settings Manager</a></p>
    </div>
    <div class="col-lg-2 adminnavbutton">
      <p><a href="/admin/products" class="btn btn-theme">Product Manager</a></p>
    </div>
    <div class="col-lg-2 adminnavbutton">
      <p><a href="/admin/users" class="btn btn-theme">User Manager</a></p>
    </div>
    <div class="col-lg-2 adminnavbutton">
      <p><a href="/admin/pages" class="btn btn-theme">Page Manager</a></p>
    </div>
    <div class="col-lg-2 adminnavbutton">
      <p><a href="/admin/logging" class="btn btn-theme">Logging Manager</a></p>
    </div>
    <div class="col-lg-2 adminnavbutton">
      <p><a href="/admin/integration" class="btn btn-theme">Integration</a></p>
    </div>
  </div>
  <hr>
</div>
<br>